---
import { t } from 'i18next';
import ProjectCard from './ProjectCard.astro';
---

<section
	id='projects'
	class='mx-auto mb-10 flex flex-col items-center justify-center gap-10 p-10 pt-20 lg:container md:gap-24 lg:mb-20'
>
	<h3
		class='text-center text-3xl font-semibold text-foreground sm:text-left sm:text-4xl lg:text-5xl'
	>
		{t('home.projects.title')}
	</h3>

	<ProjectCard />
</section>
