<article class='flex'>
	<aside class='flex flex-col justify-center gap-3'>
		<div class='flex flex-col justify-center gap-1'>
			<p class='font-medium text-primary-700'>Featured Project</p>
			<h6 class='text-xl text-foreground'>Example Project</h6>
		</div>
		<didisv class='relative flex max-w-2xl items-center rounded-xl px-6 py-4 blur-sm'>
			<p class='text-foreground-50'>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, possimus autem neque qui
				quibusdam ipsa eum eaque nam doloribus nemo esse quia iste! Recusandae numquam est
				veritatis! Alias, commodi architecto
			</p>
		</didisv>
		<div></div>
	</aside>
	<aside class='rounded-[10px] bg-indigo-950 p-2'>
		<img src='' alt='project-preview' width='400' />
	</aside>
</article>
