---
import ProjectCard from './ProjectCard.astro';
---

<section
	id='projects'
	class='mx-auto flex flex-col items-center justify-center gap-24 p-20 md:container'
>
	<h3
		class='text-center text-2xl font-semibold text-foreground sm:text-left sm:text-3xl md:text-4xl lg:text-5xl'
	>
		Our Work
	</h3>

	<ProjectCard />
</section>
