---
import { motion } from 'framer-motion';
import { t } from 'i18next';
import { Form } from './Form';
import Social from './Social.astro';
---

<motion.section
	id='contact'
	initial={{ x: -100, opacity: 0 }}
	animate={{ x: 0, opacity: 1 }}
	transition={{ duration: 0.5, delay: 0.2 }}
	client:visible
	className='mx-auto flex w-screen flex-col items-center justify-center gap-10 overflow-hidden px-20 pb-5 pt-10 xs:pb-10'
>
	<h3
		class='text-center text-2xl font-semibold text-foreground sm:text-left sm:text-3xl md:text-4xl lg:text-5xl'
	>
		{t('home.contact.title')}
	</h3>

	<Form client:visible>
		<Social />
	</Form>
</motion.section>
