---
import { t } from 'i18next';
import { Form } from './Form';
import Social from './Social.astro';
---

<section
	id='contact'
	class='mx-auto flex w-screen flex-col items-center justify-center gap-10 overflow-hidden px-10 pt-10 xs:pb-10 md:min-h-[50vh] md:gap-24 lg:pb-20 lg:pt-20'
>
	<h3
		class='text-center text-2xl font-semibold text-foreground sm:text-left sm:text-3xl md:text-4xl lg:text-5xl'
	>
		{t('home.contact.title')}
	</h3>

	<Form client:visible>
		<Social />
	</Form>
</section>
