---
import { Form } from './Form';
---

<section
	id='contact'
	class='mx-auto flex w-screen flex-col justify-center overflow-hidden px-10 pt-20 xs:pb-10 md:min-h-[50vh] md:pt-32 lg:flex-row lg:pb-20 lg:pt-40'
>
	<Form client:load />
</section>
