---
// import astronaut from '@assets/div-astronaut.webp';
---

<section
	id='banner'
	class='mx-auto flex w-screen flex-col justify-center overflow-hidden px-10 pt-20 xs:pb-10 md:min-h-[50vh] md:pt-32 lg:flex-row lg:pb-20 lg:pt-40'
>
	<aside
		class='flex max-w-screen-lg flex-col items-center gap-2 sm:flex-row sm:justify-center sm:gap-8'
	>
		<!-- <div
			class='flex h-56 w-48 flex-shrink-0 items-center justify-center rounded-[431px] bg-[radial-gradient(50%_50%_at_50%_50%,_#763CAC_0%,_rgba(50,_15,_133,_0.00)_100%)] md:h-[320px] md:w-[300px] xl:h-[431px] xl:w-[385px]'
		>
			<div
				class='flex h-24 w-24 items-center justify-center rounded-full bg-[linear-gradient(180deg,_rgba(48,_16,_128,_0.60)_0%,_rgba(120,_64,_173,_0.36)_100%)] md:h-44 md:w-44'
			>
				<img
					src='/logo-divsoftware.svg'
					alt='div-software-logo'
					class='h-20 w-20 transform transition-transform hover:animate-[spin_5s_ease-in-out_infinite] md:h-32 md:w-32'
				/>
			</div>
		</div>
		<div class='w-full sm:w-[20rem] md:w-full xl:w-2/5'>
			<h1 class='text-center text-2xl font-bold text-white xs:text-3xl sm:text-left md:text-5xl'>
				Let's create something great
				<span class='text-primary-400'>together</span>
				 ...
			</h1>
		</div> -->
	</aside>
	<aside class='relative flex items-end justify-center lg:top-20'>
		<!-- <div
			class='flex h-60 w-full flex-col items-center justify-center rounded-[542px] bg-[radial-gradient(50%_40%_at_50%_50%,_#763CAC_0%,_rgba(50,_15,_133,_0)_100%)] md:h-[300px] md:w-[450px] lg:w-[400px] xl:h-[350px] xl:w-[550px]'
		>
			<div
				id='first-border-line'
				class='relative top-1 flex h-[150px] w-full flex-col items-center rounded-[50%] border-b-2 border-l-1 border-r-1 border-solid border-primary-400 sm:h-[140px] md:w-[120%] lg:w-full 2xl:w-[110%]'
			>
				<div
					id='second-border-line'
					class='flex h-[150px] w-[95%] flex-col items-center justify-center rounded-[50%] border-b-2 border-l-1 border-r-1 border-solid border-primary-400 sm:h-[140px] lg:w-[95%]'
				>
					<div
						id='third-border-line'
						class='absolute bottom-4 h-[140px] w-[260px] rounded-[50%] border-b-2 border-solid border-primary-400 sm:w-[295px]'
					>
						<img
							src={astronaut.src}
							alt='div-astronaut'
							class='relative left-20 z-10 animate-[float_6s_ease-in-out_infinite] [transform:translatey(0px)]'
						/>
					</div>
				</div>
			</div>
		</div> -->
	</aside>
</section>
