---
import Footer from '@components/layout/Footer.astro';
import '@fontsource/poppins';
import { NavbarHome } from '../components/layout/Navbar';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/logo-divsoftware.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class='bg-background text-foreground-100 dark'>
		<NavbarHome client:visible />
		<slot />

		<Footer />
	</body>
</html>
<style is:global>
	body {
		width: 100vw;
		min-height: 100vh;
		overflow-y: overlay;
		overflow-x: hidden;
	}
</style>
